In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/sanjaits/Gradschool/ASU/Courses/sem-4/Project/Project_Implementation/Disaster-and-risk-index-prediction/.venv/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /Users/sanjaits/Gradschool/ASU/Courses/sem-4/Project/Project_Implementation/Disaster-and-risk-index-prediction/.venv/lib/python3.13/site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/sanjaits/Gradschool/ASU/Courses/sem-4/Project/Project_Implementation/Disaster-and-risk-index-prediction/.venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/sanjaits/Gradschool/ASU/Courses/sem-4/Project/Project_Implementation/Disaster-and-risk-index-prediction/.venv/lib/python3.13/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/sanjaits/Gradschool/ASU/Courses/sem-4/Project/Project_Implementation/Disaster-and-risk-index-prediction/.venv/lib/python3.13/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /Users/sanjaits/Gradschool/ASU/Courses/sem-4/Project/Project_Implementation/Disaster-and-risk-index-prediction/.venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import sys
sys.path.append("../src")

In [3]:
from data_processing import load_and_merge_disaster_data

df = load_and_merge_disaster_data()
df.head()

  STATE  STATE_FIPS  YEAR    EVENT_TYPE  CZ_FIPS    CZ_NAME BEGIN_DATE_TIME
0    SC          45  2015  Severe Storm        1  ABBEVILLE      2015-08-11
1    SC          45  1997  Severe Storm        1  ABBEVILLE      1997-06-17
2    SC          45  2001       Drought       11  ABBEVILLE      2001-04-01
3    SC          45  1992  Severe Storm        1  ABBEVILLE      1992-08-27
4    SC          45  1994       Tornado        1  ABBEVILLE      1994-12-04

In [4]:
df["EVENT_TYPE"].value_counts()

EVENT_TYPE
Severe Storm           660419
Flood                  133003
Winter Storm           101203
Drought                 79139
Snowstorm               72343
Tornado                 63275
Excessive Heat          50820
Freezing                30812
Severe Ice Storm        14339
Hurricane               13428
Fire                    11602
Tropical Storm           7544
Coastal Storm            5988
Biological               3238
Other                    1930
Mud/Landslide            1506
Earthquake                187
Typhoon                   112
Volcanic Eruption         105
Fishing Losses             42
Tsunami                    38
Dam/Levee Break            10
Chemical                    9
Toxic Substances            7
Human Cause                 6
Terrorist                   5
Straight-Line Winds         2
Name: count, dtype: int64