In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/sanjaits/Gradschool/ASU/Courses/sem-4/Project/Project_Implementation/Disaster-and-risk-index-prediction/.venv/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /Users/sanjaits/Gradschool/ASU/Courses/sem-4/Project/Project_Implementation/Disaster-and-risk-index-prediction/.venv/lib/python3.13/site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/sanjaits/Gradschool/ASU/Courses/sem-4/Project/Project_Implementation/Disaster-and-risk-index-prediction/.venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/sanjaits/Gradschool/ASU/Courses/sem-4/Project/Project_Implementation/Disaster-and-risk-index-prediction/.venv/lib/python3.13/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/sanjaits/Gradschool/ASU/Courses/sem-4/Project/Project_Implementation/Disaster-and-risk-index-prediction/.venv/lib/python3.13/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /Users/sanjaits/Gradschool/ASU/Courses/sem-4/Project/Project_Implementation/Disaster-and-risk-index-prediction/.venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import sys
sys.path.append("../src")

In [3]:
from data_processing import load_combine_datasets

df = load_combine_datasets()
df.head()

   STATE_ABBR BEGIN_DATE BEGIN_TIME   END_DATE END_TIME     EVENT_TYPE
0          FL 1996-09-02      08:00 1996-09-02    08:00  coastal storm
1          VA 1996-09-06      09:00 1996-09-06    17:00  coastal storm
6          MD 1996-09-06      10:00 1996-09-06    17:00  coastal storm
11         DC 1996-09-06      12:00 1996-09-06    18:30  coastal storm
12         NC 1996-10-08      04:00 1996-10-08    07:00  coastal storm

In [4]:
df["EVENT_TYPE"].fillna("Unknown").value_counts()

EVENT_TYPE
fire                   1848
severe storm           1666
flood                  1090
tornado                 642
hurricane               464
mud/landslide           229
coastal storm           205
snowstorm               170
severe ice storm        139
tropical storm          135
drought                  72
winter storm             67
freezing                 60
typhoon                  56
biological               56
earthquake               35
other                    33
tsunami                  29
volcanic eruption        10
toxic substances          8
fishing losses            6
dam/levee break           5
human cause               3
terrorist                 2
straight-line winds       1
chemical                  1
Name: count, dtype: int64